# Java/Android 기본
*.iml
.gradle/
.idea/
local.properties
.DS_Store
/build/
captures/
.cxx/

# Kotlin 관련 (있을 경우)
*.kotlin_module

# 로그/임시 파일
*.log
*.tmp

# OS별
# macOS
.DS_Store
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Android Studio 자동 생성 파일
.externalNativeBuild/